h3.projects {
  margin: 20px;
  font-weight: 400;
}
.new-website {
  margin: 40px auto;
  display: block;
  background-color: rgba(255, 0, 0, 0.575);
  color: white;
  width: 80%;
  padding: 30px 10px;
  font-size: 30px;
}
.new-website:hover {
  background-color: rgba(255, 0, 0, 0.692);
}
/* GRID */
.project-grid-ui {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  height: 350px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.grid:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.grid:hover .grid-links {
  opacity: 1;
}
.grid-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.801);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-links a {
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 14px;
  border: 2px solid #7f408a;
  color: #7f408a;
  border-radius: 3px;
  font-size: 20px;
  transform: skew(-5deg);
  transition: all 0.2s ease;
}

.grid-links a:hover {
  background-color: #7f408a;
  color: white;
}

.social {
  position: absolute;
  border-top: 1px solid rgb(104, 103, 103);
  border-right: 1px solid rgb(104, 103, 103);
  border-bottom: 1px solid rgb(104, 103, 103);
  padding: 5px;
  border-radius: 3px;
  top: 10%;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 35px;
}
.social a {
  color: rgb(44, 44, 46);
}
.social a:hover:nth-child(1) {
  color: blue;
}
.social a:hover:nth-child(2) {
  color: green;
}
.footer {
  height: 100px;
}

@media only screen and (min-width: 800px) {
  .project-grid-ui {
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
  }
  .grid {
    flex: 40%;
  }
}
