.App {
  text-align: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main-container{
  width:80%;
  margin:0 auto;
  max-width: 1200px;
  position: relative;
}